#love {
  color: rgb(242, 35, 132);
  text-align: center;
}
h1 {
  color: rgb(23, 160, 162);
  text-align: center;
}

h2 {
  color: rgb(242, 35, 132);
  text-align: center;
}

h3 {
  color: rgb(235, 93, 32);
  text-align: center;
}

.css {
  margin: 10%;
}

nav {
  overflow: hidden;
}

nav a {
  color: #110d0d;
  text-align: center;

  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color:rgb(23, 160, 162);
  color: black;
}

nav a.active {
  background-color: rgb(235, 93, 32);
  color: rgb(15, 12, 12);
}